.wrap {
  position: relative;
  padding: 0;
}

.card_text {
  letter-spacing: 0.8px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.card_container {
  padding: 10px;
}

.card {
  padding: 20px;
}



.white_card {
  background-color: #eee;
}

.collector_card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 230, 230, 1) 10%,
    rgba(153, 153, 153, 1) 100%
  );
}

.gold_card {
  background-color: rgba(218, 165, 32, 1);
}

.metal_card {
  background-color: rgba(140, 90, 252, 1);
}

.bronze_card {
  background-color: rgba(247, 147, 30,1);
}

.common_card {
  background-color: rgba(41, 171, 226,1);
}

.card_body {
  margin-top: 20px;
  padding: 0;
}

.team_grid_cell {
  margin-bottom: 15px;
}

.rarityValue {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  background: #fff;
  top: 10px;
  right: 10px;
  letter-spacing: 1.8px;
  font-size: 18px;
}
