.metamaskImage {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.metamaskButton {
  padding: 7px 14px;
  background-color: white;
  letter-spacing: 1px;
  width: 350px;
  box-sizing: border-box;
  -webkit-box-shadow: 7px 5px 0px 0px #000000;
  box-shadow: 7px 5px 0px 0px #000000;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 600;
  word-break: break-word;

  &:hover {
    background-color: #ccc;
  }

  &:disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:hover:disabled {
    border: 1px solid transparent;
  }
}

.shortDisplay {
  width: 200px !important;
  padding: 10px 0 !important;
}

.longDisplay {
  width: auto !important;
}
