.metamaskImage {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.metamaskButton {
  padding: 7px 14px;
  background-color: white;
  letter-spacing: 1px;
}

.shortDisplay {
  width: 200px;
}

.longDisplay {
  width: auto;
}
