.card_container {
  padding: 40px 0;
  .card_container_text {
    height: 100%;
    -webkit-box-shadow: 12px 14px 0px 0px #000000;
    box-shadow: 12px 14px 0px 0px #000000;
    border-radius: 0;
    text-align: justify;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.feature_card_header {
  margin: 10px auto 20px auto;
  padding: 0px 50px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.card_body_content {
  margin: 20px 40px;
}

.flex_col {
  display: flex;
  align-items: center;
  justify-content: center;
}

