.section {
  margin-top: 60px;
}

.introduction_container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  max-width: 948px;
  width: 100%;
  margin: 0 auto;

  .introduction {
    width: 100%;
  }
  .pic_container {
    display: flex;
    flex-direction: column;
  }
}

.discover {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;

  .link_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.pay_section {
  height: 357px;
}

.link {
  text-decoration: underline;
  color: white;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.align_text_left {
  text-align: left;
}

.white_background {
  background: #fff;
}

.paddings {
  padding-top: 75px;
  padding-bottom: 75px;
}

.justify_text {
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 55px;
  width: 75%;
}
