.section {
  margin-top: 60px;
}

.introduction_container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  max-width: 948px;
  width: 100%;
  margin: 0 auto;

  .introduction {
    width: 500px;
  }
  .pic_container {
    display: flex;
    flex-direction: column;
  }
}

.discover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 157.42px;
}

.pay_section {
    height: 357px;
}

.align_text_left {
  text-align: left;
}

.white_background {
  background: #fff;
}

.alternative_background {
  background: #BA8469;
}

.paddings {
  padding-top: 75px;
  padding-bottom: 75px;
}
