.text-right {
  display: flex;
  justify-content: right;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;

  .footer_container {
    padding: 10px 20px;
    .title {
      font-size: 28px;
      letter-spacing: 10px;
      font-weight: lighter;
      margin-bottom: 41.6px;
    }

    .links_container {
      display: flex;
      justify-content: space-around;
      .links_left {
        text-align: left;
        a {
          text-decoration: none;
          font-size: 10px;
          font-weight: lighter;
          letter-spacing: 5px;
        }
      }
      .links_right {
        text-align: right;
        a {
          text-decoration: none;
          font-size: 10px;
          font-weight: lighter;
          letter-spacing: 5px;
        }
      }
    }
  }
}
