.stats {
  font-size: 25px;
  font-weight: 500;
  color: #ff0000;
}

.countdown {
  font-size: 25px;
  font-weight: bold;
}

.moneySummary {
  font-size: 5em;
  font-weight: 500;
  color: #ff0000;
  margin: 0;
}
