.card {
  padding: 20px;
}

.team_card_text {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: black;
  letter-spacing: 1.8px;
}

.team_card_title {
  font-size: 20px;
}

.card_body {
  height: 125px;
  padding: 10px 0 0 0;
}

.team_grid_cell {
  margin-bottom: 15px;
}

.gold_card {
  background-color: rgba(218, 165, 32, 1);
}


$breakpoint-mobile: 480px;

@media (max-width: $breakpoint-mobile) {

  .card_body {
    height: 100px;
    padding: 3% 0 0 0;
  }

}

