body {
  background-color: #f2f1f0;
  color: black;
  font-family: "Monserrat";
}

p {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1.8px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 15px;
}

h5,
h6 {
  margin-bottom: 10px;
}

button {
  border: none;
}

.btn-primary {
  box-sizing: border-box;
  -webkit-box-shadow: 7px 5px 0px 0px #000000;
  box-shadow: 7px 5px 0px 0px #000000;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 20px 30px;
  width: 350px;

  &:hover {
    border: 1px solid;
    background-color: #ccc;
  }

  &:disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:hover:disabled {
    border: 1px solid transparent;
  }
}

.btn-check:checked + .btn-dark {
  background: white;
  color: black;
}

.black_background {
  background-color: black;
  color: white;
  letter-spacing: 2px;
  line-height: 1.5rem;
  a.link,
  link {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}

.white_background {
  background-color: #ffffff;
  a.link,
  link {
    text-decoration: underline;
    color: black;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.grey_background {
  background-color: #f2f1f0;
}

.black_link {
  color: black;
  &:hover {
    color: gray;
  }
}
